// Variables to theme Bootstrap. See https://getbootstrap.com/docs/4.0/getting-started/theming/
$theme-colors: (
        "primary": #21c19c,
        "danger": #ff4136
);

$primary-color: #21c19c;
$body-bg: #e8efee;

@import "node_modules/bootstrap/scss/bootstrap";

.content {
  margin-top: 1em;
}

.box {
  margin-top: 1em;
  padding: 1.5em;
  background-color: #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border-radius: 5px;
}

.modal-large {
  max-width: 900px;
}

button i {
  margin-right: 0.3em;
}

@import "./styles/overrides";
