.classes {
  margin: 0.5+em 0.25em;
}

.class {
  display: flex;
  align-items: center;
  padding: 0.25em 0;
  & + .class {
    border-top: 1px solid #cecece;
  }
}

.class__name {
  min-width: 90px;
  margin-right: 1em;
  font-weight: bold;
}

.slider__container {
  margin-left: 1em;
  flex: 1;
  display: inline-flex;
  align-items: center;

  > strong {
    min-width: 80px; // Prevent flicker as it's resized
  }
}

.slider {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 0.5em;
}

.example {
  border-radius: 50px;
  padding: 0.2em 0.4em;
  font-size: 14px;
  margin-right: 0.5em;
}

.actions {
  text-align: right;
  i {
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }
}
