.svg {
  font-size: 14px;

  .path {
    stroke-width: 2px;
    stroke: #21c19c;
    fill: none;

    &.path--known {

    }

    &.path--predicted {
      stroke-dasharray: 5;
      opacity: 0.5;
    }
  }

  .area {
    fill: url("#areaGradient");
    opacity: 0.5;
  }
}


.mouse-line {
  fill: none;
  stroke: #333;
  stroke-width: 1px;
}

.menu {
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #cecece;
  padding: 0.25em 0;
  box-shadow: 0 5px 15px rgba(50, 50, 93, 0.15), 0 1px 4px rgba(0, 0, 0, 0.1);

  > div, li {
    padding: 0.25em 1em;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      cursor: pointer;
    }

    li:hover {
      background-color: rgba(0,0,0,0.1);
    }
  }
}

.current {
  margin-bottom: 1em;

  h2 {
    line-height: 1em;
  }
}

.value {
  display: flex;
  align-items: center;
}

.difference {
  font-weight: normal;
  font-size: 0.8em;
  margin-left: 0.5em;
}
